.knowledges-box {
    height: 50px;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.person-card > .knowledges-box > .knowledge {
    width: 50px;
    height: 50px;

    border-radius: 50%;

    font-size: 13px;
    font-weight: 400;
    color: #fff;

    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    line-height: 50px;
    text-align: center;
}

.person-card > .knowledges-box > .knowledge.-css {
    background-color: #00A3FF;
}

.person-card > .knowledges-box > .knowledge.-html {
    background-color: #FFA800;
}

.person-card > .knowledges-box > .knowledge.-js {
    background-color: #FAFF00;
}

.person-card > .knowledges-box > .knowledge.-git {
    background-color: #0F0F0F;
}