.main-title {
    font-size: 60px;
    font-weight: 500;

    color: #EFDFFF;
    color: var(--light-third);

    text-transform: uppercase;
}

.main-title.-purple {
    color: #9D4EDD;
    color: var(--medium-third);
}