.person-card {
    padding: 20px;

    background-color: #240046;
    background-color: var(--dark-second);

    border-radius: 20px;
    box-shadow: 0px 0px 7px #000;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    transition: all 70ms cubic-bezier(0.25, 0.50, 1, 2);
}

.person-card:hover {
    transform: scale(1.02);
}

.person-card > .imgbx {
    width: 100px;
    height: 100px;
    
    border-radius: 50%;

    background-color: #9D4EDD;
    background-color: var(--medium-third);

    display: flex;
    justify-content: center;
    align-items: center;
}

.person-card > .imgbx > .profilepic {
    width: 95px;
    height: 95px;
    
    border-radius: 50%;
}

.person-card > .name {
    font-size: 30px;
    font-weight: 400;

    color: #EFDFFF;
    color: var(--light-third);
}