:root {
    --dark-first: #10002B;
    --dark-second: #240046;
    --dark-third: #3c096c;

    --medium-frist: #5A189A;
    --medium-second: #7B2CBF;
    --medium-third: #9D4EDD;

    --light-first: #C77DFF;
    --light-second: #E0AAFF;
    --light-third: #EFDFFF;
}